<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://vn.com.viettel.vds.wallet3.cms/menu.application"
          insertBefore="administration">
        <item screen="User.browse" caption="msg://vn.com.viettel.vds.wallet3.cms.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
    </menu>
    <item screen="Category.browse" caption="msg://vn.com.viettel.vds.wallet3.cms.screen.category/categoryBrowse.menu"/>
    <item screen="RegistrationInformation.browse"
          caption="msg://vn.com.viettel.vds.wallet3.cms.screen.registrationinformation/registrationInformationBrowse.menu"/>

</menu-config>